/* Scrolling Text Component */
@import '../../../styles/shared.css';

/* Scrolling Text Component Styles */

.scrolling-text-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-light);
  /* Optional background */
  color: var(--background-dark);
  margin-top: 40px;
}

.dark-mode .scrolling-text-container {
  background-color: var(--background-dark);
}

.scrolling-text {
  position: relative;
  min-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  line-height: 1;

}

.scroll-right,
.scroll-left {
  font-size: 6rem;
  font-weight: bold;
  text-transform: none;
  font-family: 'Dirtyline36Daysoftype2022', sans-serif;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: #000000;
  white-space: nowrap;
  width: max-content;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dark-mode .scroll-right {
  color: #ffffff;
}

.dark-mode .scroll-left {
  color: #ffffff
}

.scroll-right {
  animation: scrollRight 350s linear infinite;
}

.scroll-left {
  animation: scrollLeft 400s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}


@media screen and (max-width: 1250) {

  .scroll-right,
  .scroll-left {
    font-size: 5rem;
  }
}

@media (max-width:768px) {

  .scroll-right,
  .scroll-left {
    font-size: 4rem;
  }

  .scrolling-text-container {
    height: 45vh;
  }

}

@media (max-width:480px) {

  .scroll-right,
  .scroll-left {
    font-size: 2.5rem;
  }

  .scrolling-text-container {
    height: 30vh;
  }


}


.scrolling-text-container {
  position: relative;
  width: 100%;
}

/* Glowing Circle */
.glowing-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(110, 110, 109, 0.7), rgba(150, 150, 150, 0.3));
  border-radius: 50%;
  pointer-events: none;
  filter: blur(40px);
  transition: transform 0.1s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}


.scrolling-text-container:hover .glowing-circle {
  opacity: 1;
}


@media screen and (max-width: 480px) {
  .scrolling-text-container:hover .glowing-circle {
    opacity: 0 !important;
  }
}