.time-to-roar-head {
    font-family: 'Dirtyline36Daysoftype2022';
    font-size: 6.5rem;
    text-align: left;
    text-transform: lowercase;
    margin-left: 10vw;
    margin-top: 10vh;
    line-height: 5rem;
    color: transparent;
}

.time-to-roar {
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
    padding-bottom: 5vh;

}

.horizontal-line {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 40px 0;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 25px;

}

.contact-item {
    flex: 1;
    text-align: start;
}

.contact-item small {
    display: block;
    font-size: 1.2rem;
    color: #000;
    font-family: 'Syne', serif;
    text-transform: none;
}



.contact-item p {
    font-size: 1.5rem;
    color: #000;
    margin: 0;
    font-family: 'Syne', serif;
    text-transform: none;

    &:hover a {
        color: #fed700;
    }
}

.dark-mode .contact-item p {
    color: var(--background-light);
}

.dark-mode .contact-item small {
    color: var(--background-light);
}

.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888;
    margin-top: 25px;

}

.copyright p {
    font-size: 14px;
    font-family: 'Syne', serif;

}

.up-arrow {
    font-size: 28px;
    cursor: pointer;
}

@media(max-width:764px) {
    .time-to-roar-head {
        font-size: 4rem;
        line-height: 3rem;

    }

    .contact-item {
        text-align: start;
    }

    .contact-item small {
        font-size: 16px;
    }

    .contact-item p {
        font-size: 22px;
    }

    .web {
        display: none;
    }

    .contact-row {
        flex-direction: column;
        align-items: flex-start;
    }

}